.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  text-align: center;
}

.home-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.home-subtitle {
  margin-bottom: 2rem;
  font-size: 1.2rem;
}

.home-button {
  padding: 1rem 2rem;
  background-color: #16a34a; /* verde */
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s, background-color 0.3s;
}

.home-button:hover {
  transform: scale(1.1);
  background-color: #15803d; /* verde mais escuro */
}
